---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { motion } from "motion/react";

type Project = {
  title: string;
  description: string;
  link: string;
  image: string;
  keywords: string[];
};

const projects: Project[] = [
  {
    title: "JLPT",
    description: "Japanese dictionary quiz app",
    link: "https://fahrimz.github.io/jlpt",
    image: "/jlpt.png",
    keywords: [
      "React",
      "React Router",
      "Tailwind CSS",
      "Vite",
      "Typescript",
      "Bun",
    ],
  },
  {
    title: "MEZZA-9",
    description: "Indonesian coffee beans e-commerce",
    link: "https://mezza-9.id",
    image: "/mezza9.png",
    keywords: [
      "React",
      "Next.js",
      "Tailwind CSS",
      "Prisma",
      "PostgreSQL",
      "Auth.js",
      "Typescript",
      "NPM",
      "Cloudinary",
      "Firebase",
    ],
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-full flex flex-col gap-4 max-w-3xl mx-auto mb-20">
    <Header />
    <main class="h-full px-8 flex flex-col gap-4">
      <motion.h1
        client:load
        initial={{ opacity: 0, y: -50 }}
        animate={{ opacity: 1, y: 0 }}>Projects</motion.h1
      >
      <section>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
          {
            projects.map((project, index) => {
              return (
                <motion.li
                  client:load
                  key={index}
                  className="bg-white rounded-lg shadow-md overflow-hidden [--scale:1] md:[--scale:1.1]"
                  whileHover={{ scale: "var(--scale)" }}
                >
                  <a
                    href={project.link}
                    class="flex flex-col gap-2"
                    target="_blank"
                  >
                    <img
                      src={project.image}
                      alt={project.title}
                      class="w-full h-44 object-cover"
                    />
                    <div class="pt-2 pb-4 px-4">
                      <h6 class="text-lg mb-0!">{project.title}</h6>
                      <p class="text-sm text-gray-500">{project.description}</p>
                      <ul class="flex flex-wrap gap-2 text-xs mt-4">
                        {project.keywords.map((keyword, index) => (
                          <li class="bg-gray-200 px-2 py-1 rounded-md">
                            {keyword}
                          </li>
                        ))}
                      </ul>
                    </div>
                  </a>
                </motion.li>
              );
            })
          }
        </ul>
      </section>
    </main>
  </body>
</html>
